body {
  margin: 0;
}

#body_wrap {
  margin: 0 auto;
  width: min-content;
  min-width: 500px;
  font-size: 16px;
  font-family: Helvetica, Arial, Sans-Serif;
  padding-bottom: 50px;
  padding-top: 1px;
}

.img_div {
  position: absolute;
}

#doll {
  top: 100px;
  left: 550px;
  width: max-content;
}

#skirt {
  top: 200px;
  left: 1000px;
}
